@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --jelo-green: #52AC35;
  --jelo-warning: #E08515;
  --jelo-alert: #E02915;
}

@layer base {
  h1 {
    @apply text-4xl font-medium;
  }

  h2 {
    @apply text-2xl font-bold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  h4 {
    @apply text-lg font-medium mb-0;
  }
}

@layer utilities {
  .clickable {
    @apply cursor-pointer disabled:cursor-auto disabled:pointer-events-none;
  }
}